
    <!-- PRICING -->
    <section id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br/><br/><br/><br/>
                </div>
                <div class="col-sm-5">
                    <img width="100%" height="auto" src="resources/images/about-group.jpg">
                </div>
                <div class="col-sm-7">
                    <div class="text-white text-justify">
                        Innova Consulting Group, LLC is a privately held organization established on the foundation of SERVICE, RESULTS, INNOVATION AND ETHICS.  Our specialty is fulfilling the unique sourcing needs of our individual clients by providing WORLD CLASS WORKFORCE SOLUTIONS. <br/><br/> We aim to add value to clients by employing the highest standards of skill and professionalism in Staffing Services and Recruitment Process Outsourcing to ensure that they stay ahead of the game in the area of Talent Acquisition.<br/><br/>
                        <a href="" class="btn-send">DOWNLOAD CAPABILITIES SHEET</a>
                    </div><br/>
                </div>


                <!--<div class="white-box col-sm-12">
                    <span>Download the NEW 2015 Hyur Staffing Company Overview and Capabilities Statement Sheet.</span>
                    <a href="" class="btn-send pull-right">DOWNLOAD CAPABILITIES SHEET</a>
                </div>-->

            </div>
        </div>
    </section>
    <!-- /PRICING -->


	<!-- OUR TEAM -->
	<section id="our-team">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Our Team</h1>
						<span class="st-border"></span>
					</div>
                    <div>
                        <h4>MEET OUR TEAM</h4>
                        Our unique position within the industry and our in-depth understanding marketplace, coupled with our goal-oriented management philosophy allows for individual growth as well as team growth. Positive, successful employees, directly translates to positive results for our clients.
                    </div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="team-member">
						<div class="member-image">
							<img class="img-responsive" width="100%" height="auto" src="resources/images/members/01.jpg" alt="">
							<div class="member-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
								<a href=""><i class="fa fa-google-plus"></i></a>
								<a href=""><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
						<div class="member-info">
							<h4>Khalil Uddin</h4>
							<span>Designer</span>
                            <div class="about-us-text">passionate and dedicated professionals who are ready to do whatever it takes</div>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="team-member">
						<div class="member-image">
							<img class="img-responsive" width="100%" height="auto" src="resources/images/members/02.jpg" alt="">
							<div class="member-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
								<a href=""><i class="fa fa-google-plus"></i></a>
								<a href=""><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
						<div class="member-info">
							<h4>Rubel Miah</h4>
							<span>Lead Developer</span>
                            <div class="about-us-text">passionate and dedicated professionals who are ready to do whatever it takes</div>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="team-member">
						<div class="member-image">
							<img class="img-responsive" width="100%" height="auto" src="resources/images/members/03.jpg" alt="">
							<div class="member-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
								<a href=""><i class="fa fa-google-plus"></i></a>
								<a href=""><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
						<div class="member-info">
							<h4>Shamim Shohag</h4>
							<span>Developer</span>
                            <div class="about-us-text">passionate and dedicated professionals who are ready to do whatever it takes</div>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="team-member">
						<div class="member-image">
							<img class="img-responsive" width="100%" height="auto" src="resources/images/members/04.jpg" alt="">
							<div class="member-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
								<a href=""><i class="fa fa-google-plus"></i></a>
								<a href=""><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
						<div class="member-info">
							<h4>Zubayer Rahman</h4>
							<span>Marketer</span>
                            <div class="about-us-text">passionate and dedicated professionals who are ready to do whatever it takes</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /OUR TEAM -->
	
	<!-- TESTIMONIAL -->
	<section id="testimonial">
		<div class="container">
			<div class="row">
				<div class="overlay"></div>
				<div class="col-md-8 col-md-offset-2 col-sm-12">
					<div class="st-testimonials">

						<div class="item active text-center">
							<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore nesciunt natus ullam possimus quas obcaecati suscipit voluptate facilis cum"</p>
							<div class="st-border"></div>
							<div class="client-info">
								<h5>Tom Roof</h5>
								<span>CEO of Domain.com</span>
							</div>
						</div>

						<div class="item text-center">
							<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore nesciunt natus ullam possimus quas obcaecati suscipit voluptate facilis cumconsectetur adipisicing elit. Amet dolore"</p>
							<div class="st-border"></div>
							<div class="client-info">
								<h5>Mustafiz</h5>
								<span>CEO of Domain.com</span>
							</div>
						</div>

						<div class="item text-center">
							<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem autem possimus laborum, ducimus vel rerum asperiores delectus, suscipit voluptate mollitia, ullam perspiciatis voluptates!"</p>
							<div class="st-border"></div>
							<div class="client-info">
								<h5>Sean Hynes</h5>
								<span>CEO of Domain.com</span>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /TESTIMONIAL -->

	
	<!-- CONTACT -->
	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>WE LOOK FORWARD TO HEARING FROM YOU</h1>
						<span class="st-border"></span>
					</div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.<br/><br/>
				</div>

                <div class="col-md-12">
                    <div id="parentHorizontalTab">
                        <ul class="resp-tabs-list hor_1">
                            <li><h5><i class="fa fa-user text-red"></i> &nbsp;JOB SEEKER CONTACT FORM</h5></li>
                            <li><h5><i class="fa fa-file-text text-red"></i> &nbsp;EMPLOYERS CONTACT FORM</h5></li>
                        </ul>
                        <div class="resp-tabs-container hor_1">
                            <div>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.
                                <br>
                                <br>
                                <form  class="contact-form" name="jobseekerForm" ng-submit="jobseekerForm.$valid && uploadResume()" novalidate>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <input type="text" name="firstName" ng-model="jobSeekerForm.firstName" required validate-name placeholder="First Name*">
                                         <div class="error-container" >
                                 <div ng-show="submitted">
	                          			<span ng-cloak ng-show="jobseekerForm.firstName.$error.required">Please Enter First Name</span>
	                          			<span ng-cloak ng-show="!jobseekerForm.firstName.$error.required&&jobseekerForm.firstName.$error.validateName">Enter Valid First Name</span>
	                              </div>
                              	</div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" name="lastName" ng-model="jobSeekerForm.lastName" required validate-name placeholder="Last Name*">
                                       <div class="error-container" >
                                        <div ng-show="submitted">
	                          			<span ng-cloak ng-show="jobseekerForm.lastName.$error.required">Please Enter Last Name</span>
	                          			<span ng-cloak ng-show="!jobseekerForm.lastName.$error.required&&jobseekerForm.lastName.$error.validateName">Enter Valid Last Name</span>
	                             		 </div>
	                             		 </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="email" name="email" ng-model="jobSeekerForm.email" required placeholder="Email*">
                                        <div class="error-container" >
                                 		<div ng-show="submitted">
	                          			<span ng-cloak ng-show="jobseekerForm.email.$error.required">Please Enter Email</span>
                                        </div>
                                        </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" name="contactNumber" ng-model="jobSeekerForm.phoneNumber" placeholder="Phone Number*" required validate-mobile>
                                            <div class="error-container" >
                                 <div ng-show="submitted">
	                          			<span ng-cloak ng-show="jobseekerForm.contactNumber.$error.required">Please Enter Contact Number</span>
	                          			<span ng-cloak ng-show="!jobseekerForm.contactNumber.$error.required&&jobseekerForm.contactNumber.$error.validateMobile">Enter Valid Number</span>
	                              </div>
                              	</div>
                                            
                                        </div>
                                        <div class="col-sm-4">
                                             <div class="browse-wrap">
                               <div class="title">Upload Resume</div>
								<input type="file" file-model="resume" valid-file name="resume" ng-model="resume" class="upload" title="Upload Resume" required>
							</div>
							<span class="upload-path"></span>
                                <div><small>Accepted file types: pdf, doc, docx, txt, ppt, pptx.</small><br/></div>
                                <div class="error-container" >
                                 <div ng-show="submitted">
	                          			<span ng-cloak ng-show="jobseekerForm.resume.$error.required">Please Upload Resume</span>
	                              </div>
                              	</div>
                                        </div>
                                        
                                        <!--<div class="col-sm-12">
                                            <h6>SECURITY</h6>
                                            <img src="resources/images/puzzle-1.png">
                                            <input type="text" name="website" placeholder="Type the letter">
                                        </div>-->
                                        <div class="col-sm-12">
                                        	<input type="submit" name="submit" ng-disabled="saveData" value="{{saveButtonText}}" ng-click="submitted=true" class="btn btn-send pull-left">
                                            <span class="pull-left padding-right-span">&nbsp;</span><div flash-message="2000" class="col-md-5 pull-left"></div>
                                            <br/><br/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.
                                <br>
                                <br>
                                <form  class="contact-form" name="messageForm" ng-submit="messageForm.$valid && saveEmployersMessage()" novalidate >
                                    <div class="row">
                                        <div class="col-sm-4">
                                        	<h5>First Name<span class="text-red"><sup>*</sup></span></h5>
                                            <input type="text" name="firstName" ng-model="employersMessageForm.firstName" required validate-name placeholder="First Name">
                                            <div class="error-container">
                                            <div ng-show="submitted">
	                                   			 <span ng-cloak ng-show="messageForm.firstName.$error.required">Please Enter First Name</span>
	                                    		 <span ng-cloak ng-show="!messageForm.firstName.$error.required&&messageForm.firstName.$error.validateName">Enter Valid First Name</span>
                                			</div>
                                			</div>
                                        </div>
                                        <div class="col-sm-4">
                                       		 <h5>Last Name<span class="text-red"><sup>*</sup></span></h5>
                                            <input type="text" name="lastName" ng-model="employersMessageForm.lastName" required validate-name placeholder="Last Name">
                                            <div class="error-container">
                                            <div ng-show="submitted">
	                                   			 <span ng-cloak ng-show="messageForm.lastName.$error.required">Please Enter Last Name</span>
	                                    		 <span ng-cloak ng-show="!messageForm.lastName.$error.required&&messageForm.lastName.$error.validateName">Enter Valid Last Name</span>
                                			</div>
                                			</div>
                                        </div>
                                        <div class="col-sm-4">
                                        <h5>Email<span class="text-red"><sup>*</sup></span></h5>
                                            <input type="email" name="email" ng-model="employersMessageForm.email" required validate-email placeholder="Email">
                                            <div class="error-container" >
                                            <div ng-show="submitted">
	                                   			 <span ng-cloak ng-show="messageForm.email.$error.required">Please Enter Email ID</span>
	                                    		 <span ng-cloak ng-show="!messageForm.email.$error.required&&messageForm.email.$error.email">Enter Valid Email ID</span>
                                			</div>
                                			</div>
                                        </div>
                                        <div class="col-sm-4">
                                        <h5>Subject<span class="text-red"><sup>*</sup></span></h5>
                                            <input type="text" name="subject" ng-model="employersMessageForm.subject" required placeholder="Subject">
                                             <div class="error-container">
                                             <div ng-show="submitted">
	                                   			 <span ng-cloak ng-show="messageForm.subject.$error.required">Please Enter Subject</span>
	                                    	</div>
	                                    	</div>
                                        </div>
                                        <div class="col-sm-4">
                                        <h5>Website<span class="text-red"><sup>*</sup></span></h5>
                                            <input type="text" name="website" ng-model="employersMessageForm.website" required  placeholder="Website - http://www.example.com">
                                            <div class="error-container" >
                                            <div ng-show="submitted">
	                                   			 <span ng-cloak ng-show="messageForm.website.$error.required">Please Enter Website</span>
	                                   			 <span ng-cloak ng-show="!messageForm.website.$error.required&&messageForm.website.$error.validateUrl">Enter Valid URL</span>
	                                    	</div>
                                			</div>
                                        </div>
                                        <div class="col-sm-12">
                                        <h5>Message<span class="text-red"><sup>*</sup></span></h5>
                                            <textarea name="message"  ng-model="employersMessageForm.message" required cols="30" rows="3" placeholder="Message"></textarea>
                                            <div class="error-container">
                                            <div ng-show="submitted">
	                                   			 <span ng-cloak ng-show="messageForm.message.$error.required">Please Enter Message</span>
	                                    	</div>
	                                    	</div>
                                        </div>
                                        <!--<div class="col-sm-12">
                                            <h6>CAPTCHA</h6>
                                            <img src="resources/images/puzzle-2.png">
                                            <input type="text" name="website" placeholder="Type the letter">
                                        </div>-->
                                        <div class="col-sm-12">
                                        	<div flash-message="2000" class="col-md-5 pull-right"></div>
                                            <input type="submit" name="submit" value="Send Message" ng-click="submitted=true" class="btn btn-send"><br/><br/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</section>
	<!-- /CONTACT -->

<script>
	//Span
	var span = document.getElementsByClassName('upload-path');
	// Button
	var uploader = document.getElementsByName('resume');
	// On change
	for( item in uploader ) {
	  // Detect changes
	  uploader[item].onchange = function() {
	    // Echo filename in span
	    span[0].innerHTML = this.files[0].name;
	  }
	}
	
	</script>
    <script type="text/javascript">
        $(document).ready(function() {
            //Horizontal Tab
            $('#parentHorizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                tabidentify: 'hor_1', // The tab groups identifier
                activate: function(event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#nested-tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
        });

        $(".st-testimonials").owlCarousel({
            singleItem:true,
            lazyLoad : true,
            pagination:false,
            navigation : false,
            autoPlay: true
        });

    </script>