
    <!-- PRICING -->
    <section id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br/><br/><br/><br/>
                </div>
                <div class="col-sm-5">
                    <img width="100%" height="auto" src="resources/images/about-group.jpg">
                </div>
                <div class="col-sm-7">
                    <div class="text-white text-justify">
                        Innova Consulting Group, LLC is a privately held organization established on the foundation of SERVICE, RESULTS, INNOVATION AND ETHICS.  Our specialty is fulfilling the unique sourcing needs of our individual clients by providing WORLD CLASS WORKFORCE SOLUTIONS. <br/><br/> We aim to add value to clients by employing the highest standards of skill and professionalism in Staffing Services and Recruitment Process Outsourcing to ensure that they stay ahead of the game in the area of Talent Acquisition.<br/><br/>
                        <a href="" class="btn-send">DOWNLOAD CAPABILITIES SHEET</a>
                    </div><br/>
                </div>


                <!--<div class="white-box col-sm-12">
                    <span>Download the NEW 2015 Hyur Staffing Company Overview and Capabilities Statement Sheet.</span>
                    <a href="" class="btn-send pull-right">DOWNLOAD CAPABILITIES SHEET</a>
                </div>-->

            </div>
        </div>
    </section>
    <!-- /PRICING -->


	<!-- OUR TEAM -->
	<section id="our-team">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Our Team</h1>
						<span class="st-border"></span>
					</div>
                    <div>
                        <h4>MEET OUR TEAM</h4>
                        Our unique position within the industry and our in-depth understanding marketplace, coupled with our goal-oriented management philosophy allows for individual growth as well as team growth. Positive, successful employees, directly translates to positive results for our clients.
                    </div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="team-member">
						<div class="member-image">
							<img class="img-responsive" width="100%" height="auto" src="resources/images/members/01.jpg" alt="">
							<div class="member-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
								<a href=""><i class="fa fa-google-plus"></i></a>
								<a href=""><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
						<div class="member-info">
							<h4>Khalil Uddin</h4>
							<span>Designer</span>
                            <div class="about-us-text">passionate and dedicated professionals who are ready to do whatever it takes</div>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="team-member">
						<div class="member-image">
							<img class="img-responsive" width="100%" height="auto" src="resources/images/members/02.jpg" alt="">
							<div class="member-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
								<a href=""><i class="fa fa-google-plus"></i></a>
								<a href=""><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
						<div class="member-info">
							<h4>Rubel Miah</h4>
							<span>Lead Developer</span>
                            <div class="about-us-text">passionate and dedicated professionals who are ready to do whatever it takes</div>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="team-member">
						<div class="member-image">
							<img class="img-responsive" width="100%" height="auto" src="resources/images/members/03.jpg" alt="">
							<div class="member-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
								<a href=""><i class="fa fa-google-plus"></i></a>
								<a href=""><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
						<div class="member-info">
							<h4>Shamim Shohag</h4>
							<span>Developer</span>
                            <div class="about-us-text">passionate and dedicated professionals who are ready to do whatever it takes</div>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="team-member">
						<div class="member-image">
							<img class="img-responsive" width="100%" height="auto" src="resources/images/members/04.jpg" alt="">
							<div class="member-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
								<a href=""><i class="fa fa-google-plus"></i></a>
								<a href=""><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
						<div class="member-info">
							<h4>Zubayer Rahman</h4>
							<span>Marketer</span>
                            <div class="about-us-text">passionate and dedicated professionals who are ready to do whatever it takes</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /OUR TEAM -->
	
	<!-- TESTIMONIAL -->
	<section id="testimonial">
		<div class="container">
			<div class="row">
				<div class="overlay"></div>
				<div class="col-md-8 col-md-offset-2 col-sm-12">
					<div class="st-testimonials">

						<div class="item active text-center">
							<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore nesciunt natus ullam possimus quas obcaecati suscipit voluptate facilis cum"</p>
							<div class="st-border"></div>
							<div class="client-info">
								<h5>Tom Roof</h5>
								<span>CEO of Domain.com</span>
							</div>
						</div>

						<div class="item text-center">
							<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore nesciunt natus ullam possimus quas obcaecati suscipit voluptate facilis cumconsectetur adipisicing elit. Amet dolore"</p>
							<div class="st-border"></div>
							<div class="client-info">
								<h5>Mustafiz</h5>
								<span>CEO of Domain.com</span>
							</div>
						</div>

						<div class="item text-center">
							<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem autem possimus laborum, ducimus vel rerum asperiores delectus, suscipit voluptate mollitia, ullam perspiciatis voluptates!"</p>
							<div class="st-border"></div>
							<div class="client-info">
								<h5>Sean Hynes</h5>
								<span>CEO of Domain.com</span>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /TESTIMONIAL -->

	
	<!-- CONTACT -->
	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>WE LOOK FORWARD TO HEARING FROM YOU</h1>
						<span class="st-border"></span>
					</div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.<br/><br/>
				</div>

                <div class="col-md-12">
                    <div id="parentHorizontalTab">
                        <ul class="resp-tabs-list hor_1">
                            <li><h5><i class="fa fa-user text-red"></i> &nbsp;JOB SEEKER CONTACT FORM</h5></li>
                            <li><h5><i class="fa fa-file-text text-red"></i> &nbsp;EMPLOYERS CONTACT FORM</h5></li>
                        </ul>
                        <div class="resp-tabs-container hor_1">
                            <div>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.
                                <br>
                                <br>
                                <form  class="contact-form" name="jobseeker-form" >
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <input type="text" name="firstname" ng-model="jobSeekersForm.firstname" required="required" placeholder="First Name*">
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" name="lastname" ng-model="jobSeekersForm.lastname" required="required" placeholder="Last Name*">
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="email" name="email" ng-model="jobSeekersForm.email" required="required" placeholder="Email*">
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" name="subject" ng-model="jobSeekersForm.subject" placeholder="Phone Number*">
                                        </div>
                                        <div class="col-sm-8" style="margin-top: 8px">
                                            <a href="" class="choose-file override">Upload Resume*</a><br/>
                                            <!--<div style="padding-top: 15px">No File Choosen</div>-->
                                            <h6 class="padding-top-10"><small>Accepted file types: pdf, doc, docx, txt, ppt, pptx.</small><br/><br/></h6>
                                        </div>
                                        <!--<div class="col-sm-12">
                                            <h6>SECURITY</h6>
                                            <img src="resources/images/puzzle-1.png">
                                            <input type="text" name="website" placeholder="Type the letter">
                                        </div>-->
                                        <div class="col-sm-12">
                                            <input type="submit" name="submit" value="SUBMIT YOUR RESUME" ng-click="saveJobSeekers()" class="btn btn-send">
                                            <br/><br/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.
                                <br>
                                <br>
                                <form  class="contact-form" name="contact-form" >
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <input type="text" name="firstname" ng-model="employersContactForm.firstname" required="required" placeholder="First Name*">
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" name="lastname" ng-model="employersContactForm.lastname" required="required" placeholder="Last Name*">
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="email" name="email" ng-model="employersContactForm.email" required="required" placeholder="Email*">
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="text" name="subject" ng-model="employersContactForm.subject" placeholder="Subject*">
                                        </div>
                                        <div class="col-sm-12">
                                            <textarea name="message" required="required" ng-model="employersContactForm.message" cols="30" rows="3" placeholder="Message*"></textarea>
                                        </div>
                                        <!--<div class="col-sm-12">
                                            <h6>CAPTCHA</h6>
                                            <img src="resources/images/puzzle-2.png">
                                            <input type="text" name="website" placeholder="Type the letter">
                                        </div>-->
                                        <div class="col-sm-12">
                                            <input type="submit" name="submit" value="Send Message" ng-click="saveEmployersContact()" class="btn btn-send"><br/><br/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</section>
	<!-- /CONTACT -->


    <script type="text/javascript">
        $(document).ready(function() {
            //Horizontal Tab
            $('#parentHorizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                tabidentify: 'hor_1', // The tab groups identifier
                activate: function(event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#nested-tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
        });

        $(".st-testimonials").owlCarousel({
            singleItem:true,
            lazyLoad : true,
            pagination:false,
            navigation : false,
            autoPlay: true
        });

    </script>