

	<!-- SERVICES -->
	<section id="services" ng-cloak>
		<div class="container"><br/><br/><br/>
		<div my-map=""></div>
            <!-- <div id="googleMap" style="width: 100%; height: 400px;"></div> -->
		</div>
	</section>
	<!-- /SERVICES -->

	
	<!-- CONTACT -->
	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Contact us</h1>
						<span class="st-border"></span>
					</div>
				
				</div>
				<div class="col-sm-4 contact-info">
					<p class="contact-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum dolorum, possimus tenetur pariatur officia, quo commodi autem doloribus vero rerum aspernatur quidem temporibus.</p>
					<p class="st-address"><i class="fa fa-map-marker"></i> <strong>{{contactDetails.street}},{{contactDetails.city}},{{contactDetails.state}},{{contactDetails.country}},{{contactDetails.zipCode}}</strong></p>
					<p class="st-phone"><i class="fa fa-mobile"></i> <strong>{{contactDetails.phoneNumber}}</strong></p>
					<p class="st-email"><i class="fa fa-envelope-o"></i> <strong>{{contactDetails.email}}</strong></p>
					<p class="st-website"><i class="fa fa-globe"></i> <strong>www.yourdomain.com</strong></p>
				
				</div>
				<div class="col-sm-7 col-sm-offset-1">
					 <form  class="contact-form" name="messageForm" ng-submit="messageForm.$valid && saveEmployersMessage()" novalidate >
						<div class="row">
							<div class="col-sm-6">
								<h5>First Name<span class="text-red"><sup>*</sup></span></h5>
                                     <input type="text" name="firstName" ng-model="employersMessageForm.firstName" required validate-name placeholder="First Name" maxlength="25">
                                            <div class="error-container">
                                            <div ng-show="submitted">
	                                   			 <span ng-cloak ng-show="messageForm.firstName.$error.required">Please Enter First Name</span>
	                                    		 <span ng-cloak ng-show="!messageForm.firstName.$error.required&&messageForm.firstName.$error.validateName">Enter Valid First Name</span>
                                			</div>
                                			</div>
							</div>
							<div class="col-sm-6">
								<h5>Last Name<span class="text-red"><sup>*</sup></span></h5>
                                            <input type="text" name="lastName" ng-model="employersMessageForm.lastName" required validate-name placeholder="Last Name" maxlength="25">
                                            <div class="error-container">
                                            <div ng-show="submitted">
	                                   			 <span ng-cloak ng-show="messageForm.lastName.$error.required">Please Enter Last Name</span>
	                                    		 <span ng-cloak ng-show="!messageForm.lastName.$error.required&&messageForm.lastName.$error.validateName">Enter Valid Last Name</span>
                                			</div>
                                			</div>
							</div>
							<div class="col-sm-6">
							 <h5>Email<span class="text-red"><sup>*</sup></span></h5>
								 <input type="email" name="email" ng-model="employersMessageForm.email" required validate-email placeholder="Email" maxlength="50">
                                            <div class="error-container" >
                                            <div ng-show="submitted">
	                                   			 <span ng-cloak ng-show="messageForm.email.$error.required">Please Enter Email ID</span>
	                                    		 <span ng-cloak ng-show="!messageForm.email.$error.required&&messageForm.email.$error.email">Enter Valid Email ID</span>
                                			</div>
                                			</div>
							</div>
							<div class="col-sm-6">
							 <h5>Subject<span class="text-red"><sup>*</sup></span></h5>
								<input type="text" name="subject" ng-model="employersMessageForm.subject" required placeholder="Subject" maxlength="100">
                                             <div class="error-container">
                                             <div ng-show="submitted">
	                                   			 <span ng-cloak ng-show="messageForm.subject.$error.required">Please Enter Subject</span>
	                                    	</div>
	                                    	</div>
							</div>
							<div class="col-sm-12">
								<h5>Website<span class="text-red"></span></h5>
                                            <input type="text" name="website" ng-model="employersMessageForm.website" validate-url placeholder="Website - http://www.example.com" maxlength="80">
                                            <div class="error-container" >
                                            <div ng-show="submitted">
	                                   			 <span ng-cloak ng-show="messageForm.website.$error.validateUrl">Enter Valid URL</span>
	                                    	</div>
                                			</div>
							</div>
							<div class="col-sm-12">
							<h5>Message<span class="text-red"><sup>*</sup></span></h5>
								<textarea name="message"  ng-model="employersMessageForm.message" required cols="30" rows="3" placeholder="Message" maxlength="800"></textarea>
                                            <div class="error-container">
                                            <div ng-show="submitted">
	                                   			 <span ng-cloak ng-show="messageForm.message.$error.required">Please Enter Message</span>
	                                    	</div>
	                                    	</div>
							</div>
							<div class="col-sm-12">
							<div flash-message="2000" class="col-md-8 pull-right"></div>
							<input type="submit" name="submit" value="Send Message" ng-click="submitted=true" class="btn btn-send">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- /CONTACT -->

    <!-- <script>
        function initialize() {
            var mapProp = {
                center:new google.maps.LatLng(37.0902,-95.7129),
                zoom:4,
                mapTypeId:google.maps.MapTypeId.ROADMAP
            };
            var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script> -->