
    <!-- SLIDER -->
	<section id="slider">
		<div id="home-carousel" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="item active" style="background-image: url(resources/images/slider/01.jpg)">
					<div class="carousel-caption container">
						<div class="row">
							<div class="col-sm-7">
								<h1>You are entire </h1>
								<h2>creative world</h2>
								<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor. Aenean sollicitudin, lorem quis bibendum auctor.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item" style="background-image: url(resources/images/slider/02.jpg)">
					<div class="carousel-caption container">
						<div class="row">
							<div class="col-sm-7 pull-right text-right">
								<h1>You are entire </h1>
								<h2>creative world</h2>
								<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor. Aenean sollicitudin, lorem quis bibendum auctor.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item" style="background-image: url(resources/images/slider/03.jpg)">
					<div class="carousel-caption container">
						<div class="row">
							<div class="col-sm-7">
								<h1>You are entire </h1>
								<h2>creative world</h2>
								<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor. Aenean sollicitudin, lorem quis bibendum auctor.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item" style="background-image: url(resources/images/slider/04.jpg)">
					<div class="carousel-caption container">
						<div class="row">
							<div class="col-sm-7 pull-right text-right">
								<h1>You are entire </h1>
								<h2>creative world</h2>
								<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor. Aenean sollicitudin, lorem quis bibendum auctor.</p>
							</div>
						</div>
					</div>
				</div>
				<a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
				<a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
			</div>
		</div> <!--/#home-carousel-->
    </section>
	<!-- /SLIDER -->

	
	<!-- SERVICES -->
	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-6 st-service text-justify">
					<h2><i class="fa fa-street-view"></i> WE THINK DIFFERENTLY</h2>
					<p>We have a collaborative approach that employs a vast global network of sourcing agents that we utilize to fit your needs.  Our delivery team is technically inclined and highly experienced which gives us the upper hand when searching for your future resources.  We believe that there is no way to really understand your needs without fully understanding your project environment and because of this, we are dedicated to gaining a FULL understanding of your requirements, beyond the surface and only then will we lend our services.  Solving staffing dilemmas through innovative thought and flexible delivery methods is what we do.  When the job boards, your internal recruiting team and the other vendors have failed you, you can rely on us to get it right! <a href="solutions.html" class="read-more-red">Read More</a></p>
				</div>
<!-- 
				<div class="col-md-4 col-sm-6 st-service">
					<h2><i class="fa fa-street-view"></i> WHO WE ARE</h2>
					<p>We provide qualified professionals to our partners apt to their business requirements of their industries.<br/> <a href="solutions.html" class="read-more-red">Read More</a></p>
				</div> -->
<!-- 
                <div class="col-md-4 col-sm-6 st-service">
                    <h2><i class="fa fa-key"></i> WHAT MAKES US UNIQUE</h2>
                    <p>We thrive on solving critical resource specific needs of our partners and meet their expectations on time.</p>
                </div> -->

                <div class="col-md-4 col-sm-6 st-service text-justify">
                    <h2><i class="fa fa-puzzle-piece"></i> OUR APPROACH</h2>
                    <p>At Innova Consulting Group, we have highly motivated resources to work along with partners to address their specific resource needs at the right time.
                    </p>
                </div>

				<!-- <div class="col-md-4 col-sm-6 st-service">
					<h2><i class="fa fa-question-circle"></i> WHAT WE DO</h2>
					<p>We collect resumes from Job Seekers and connect them with the right employers. And we do list the available job section for job seekers to view and apply.
                        We connect with employers to provide the perfect professionals aligning to their specific needs.</p>
				</div> -->

				<div class="col-md-4 col-sm-6 st-service text-justify">
					<h2><i class="fa fa-users"></i> OUR TEAM</h2>
					<p>Our team will create a strong relationship with our partner companies and provide the apt resources to fit their requirement to maximize their potential and help grow their business.<br/> <a href="about.html" class="read-more-red">Read More</a></p>
				</div>

				<div class="col-md-4 col-sm-6 st-service text-justify">
					<h2><i class="fa fa-weixin"></i> FRIENDLY SUPPORT</h2>
					<p>Job Seekers and Employers are welcome to contact our Innova Consulting Group professionals to answer all their requirements. Feel free to contact us via phone or email.<br/> <a href="contact.html" class="read-more-red">Read More</a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- /SERVICES -->


	<!-- OUR WORKS -->
	<section id="our-works">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Latest <span>News</span></h1>
						<span class="st-border"></span>
					</div>
				</div>

				<div class="col-md-12 portfolio-wrapper" >
					
					
					<div class="">


                        <div class="our-office">
                            <div id="office-carousel" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                
                                    <div class="item" ng-class="{'active': $index == 0}"  ng-repeat="news in usernewslist">
                                         <div  class="col-sm-4">
                                            <div class="portfolio-content">
                                                <img class="img-responsive" ng-src="{{news.titleImageUrl | trusted}}" alt="">
                                                <div class="portfolio-overlay">
                                                    <h5></h5>
                                                    <p>Design, Develop</p>
                                                </div>
                                            </div>
                                            <p><small>Featured News, News</small></p>
                                            <h5>{{news.title}}</h5>
                                            <p>{{news.addedDate}}</p>
                                            <a href="#news-details/{{news.latestNewsId}}" class="btn btn-readmore-small">Read more</a>
                                        </div> 
                                        </div>
                                          <!-- <div  class="col-sm-4" >
                                            <div class="portfolio-content">
                                                <img class="img-responsive" src="" alt="">
                                                <div class="portfolio-overlay">
                                                    <h5>Web Development</h5>
                                                    <p>Design, Develop</p>
                                                </div>
                                            </div>
                                            <p><small>Featured News, News</small></p>
                                            <h5>lkj</h5>
                                            <p>lkjjklj</p>
                                            <a href="#news-details" class="btn btn-readmore-small">Read more</a>
                                        </div>
                                         <div  class="col-sm-4">
                                            <div class="portfolio-content">
                                                <img class="img-responsive" src="{{myImgSrc}}" alt="">
                                                <div class="portfolio-overlay">
                                                    <h5>Web Development</h5>
                                                    <p>Design, Develop</p>
                                                </div>
                                            </div>
                                            <p><small>Featured News, News</small></p>
                                            <h5>lkjkl</h5>
                                            <p>jkhkjh</p>
                                            <a href="#news-details" class="btn btn-readmore-small">Read more</a>
                                        </div> 
                                        <div  class="col-sm-4" >
                                            <div class="portfolio-content">
                                                <img class="img-responsive" src="" alt="">
                                                <div class="portfolio-overlay">
                                                    <h5>Web Development</h5>
                                                    <p>Design, Develop</p>
                                                </div>
                                            </div>
                                            <p><small>Featured News, News</small></p>
                                            <h5>lkj</h5>
                                            <p>lkjjklj</p>
                                            <a href="#news-details" class="btn btn-readmore-small">Read more</a>
                                        </div>
                                         </div>
                                         <div class="item" >
                                         <div  class="col-sm-4">
                                            <div class="portfolio-content">
                                                <img class="img-responsive" src="{{myImgSrc}}" alt="">
                                                <div class="portfolio-overlay">
                                                    <h5>Web Development</h5>
                                                    <p>Design, Develop</p>
                                                </div>
                                            </div>
                                            <p><small>Featured News, News</small></p>
                                            <h5>lkjkl</h5>
                                            <p>jkhkjh</p>
                                            <a href="#news-details" class="btn btn-readmore-small">Read more</a>
                                        </div>
                                         <div  class="col-sm-4">
                                            <div class="portfolio-content">
                                                <img class="img-responsive" src="{{myImgSrc}}" alt="">
                                                <div class="portfolio-overlay">
                                                    <h5>Web Development</h5>
                                                    <p>Design, Develop</p>
                                                </div>
                                            </div>
                                            <p><small>Featured News, News</small></p>
                                            <h5>lkjkl</h5>
                                            <p>jkhkjh</p>
                                            <a href="#news-details" class="btn btn-readmore-small">Read more</a>
                                        </div>
                                         <div  class="col-sm-4">
                                            <div class="portfolio-content">
                                                <img class="img-responsive" src="{{myImgSrc}}" alt="">
                                                <div class="portfolio-overlay">
                                                    <h5>Web Development</h5>
                                                    <p>Design, Develop</p>
                                                </div>
                                            </div>
                                            <p><small>Featured News, News</small></p>
                                            <h5>lkjkl</h5>
                                            <p>jkhkjh</p>
                                            <a href="#news-details" class="btn btn-readmore-small">Read more</a>
                                        </div>
                                   </div> -->

                                    <a class="office-carousel-left" href="#office-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                                    <a class="office-carousel-right" href="#office-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
                                </div>
                            </div> <!--/#office-carousel-->
                        </div>

					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- /OUR WORKS -->

	
	<!-- PRICING -->
	<section id="pricing">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title green text-white">
						<h1>Searching <span>job</span>?</h1>
						<span class="st-border green-border"></span>
					</div>
				</div>

                <div class="col-sm-7">
                    <div class="text-white text-center">
                        <h4>LOOKING FOR A JOB? SUBMIT YOUR RESUME.</h4><br/>
                    </div>
                    <form class="contact-form" name="indexjobForm" ng-submit="indexjobForm.$valid && saveJobSeeker()" novalidate>
                        <div class="row">
                            <div class="col-sm-6">
                            <h5><span class="text-white">First Name</span><span class="text-red"><sup>*</sup></span></h5>
                                <input type="text" name="firstName" ng-model="indexJobSeekerForm.firstName" required validate-name placeholder="First Name" maxlength="25">
                                <div class="error-container" >
                                 <div ng-show="submitted">
	                          			<span ng-cloak ng-show="indexjobForm.firstName.$error.required">Please Enter First Name</span>
	                          			<span ng-cloak ng-show="!indexjobForm.firstName.$error.required&&indexjobForm.firstName.$error.validateName">Please Enter Valid Name</span>
	                              </div>
                              	</div>
                            </div>
                            <div class="col-sm-6">
                            <h5><span class="text-white">Last Name</span><span class="text-red"><sup>*</sup></span></h5>
                                <input type="text" name="lastName" ng-model="indexJobSeekerForm.lastName" required validate-name placeholder="Last Name" maxlength="25">
                                <div class="error-container" >
                                 <div ng-show="submitted">
	                          			<span ng-cloak ng-show="indexjobForm.lastName.$error.required">Please Enter Last Name</span>
	                          			<span ng-cloak ng-show="!indexjobForm.lastName.$error.required&&indexjobForm.lastName.$error.validateName">Please Enter Valid Name</span>
	                              </div>
                              	</div>
                            </div>
                            <div class="col-sm-6">
                            <h5><span class="text-white">Phone Number</span><span class="text-red"><sup>*</sup></span></h5>
                                <input type="text" name="contactNumber" ng-model="indexJobSeekerForm.phoneNumber" required validate-mobile  placeholder="Phone Number" maxlength="20">
                                <div class="error-container" >
                                 <div ng-show="submitted">
	                          			<span ng-cloak ng-show="indexjobForm.contactNumber.$error.required">Please Enter Phone Number</span>
	                          			<span ng-cloak ng-show="!indexjobForm.contactNumber.$error.required&&indexjobForm.contactNumber.$error.validateMobile">Please Enter Valid Number</span>
	                              </div>
                              	</div>
                            </div>
                            <div class="col-sm-6">
                            <h5><span class="text-white">Email</span><span class="text-red"><sup>*</sup></span></h5>
                                <input type="email" name="email" ng-model="indexJobSeekerForm.email" required validate-email placeholder="Email" maxlength="50">
                                <div class="error-container" >
                                 <div ng-show="submitted">
	                          			<span ng-cloak ng-show="indexjobForm.email.$error.required">Please Enter Email</span>
	                          			<span ng-cloak ng-show="!indexjobForm.email.$error.required&&indexjobForm.email.$error.email">Please Enter Valid Email ID</span>
	                              </div>
                              	</div>
                            </div>
                            <div class="col-sm-6">
                            <h5><span class="text-white">Job Interested In</span><span class="text-red"><sup>*</sup></span></h5>
                                <input type="text" name="interestedIn" ng-model="indexJobSeekerForm.interestedIn" required placeholder="Job Interested In" maxlength="25">
                                <div class="error-container" >
                                 <div ng-show="submitted">
	                          			<span ng-cloak ng-show="indexjobForm.interestedIn.$error.required">Please Enter Interested In</span>
	                              </div>
                              	</div>
                            </div>
                            <div class="col-sm-6" style="margin-top: 8px">
                            <br/>
                                 <div class="browse-wrap text-white">
                               <div class="title">Upload Resume</div>
								<input type="file" file-model="indexresume" validate-file-type name="indexresume" ng-model="indexresume" class="upload" title="Upload Resume" required>
							</div>
							<span class="upload-path text-white"></span>
                                <div class="text-white"><small>Accepted file types: pdf, doc, docx,rtf.</small><br/></div>
                                <div class="error-container" >
                                 <div ng-show="submitted">
	                          			<span ng-cloak ng-show="indexjobForm.indexresume.$error.required">Please Upload Resume</span>
	                          			<span ng-cloak ng-show="!indexjobForm.indexresume.$error.required&&indexjobForm.indexresume.$error.validateFileType">Please Choose Vaild File</span>
	                          			<span ng-cloak ng-show="!indexjobForm.indexresume.$error.required&&!indexjobForm.indexresume.$error.validateFileType&&indexjobForm.indexresume.$error.validateFileSize">File should be less than 5 MB</span>
	                              </div>
                              	</div>
                            </div>
                            <!--<div class="col-sm-4">
                                <input type="text" name="website" placeholder="Website">
                            </div>-->
                            <!--<div class="col-sm-12">
                                <textarea name="message" required="required" cols="30" rows="7" placeholder="Message*"></textarea>
                            </div>-->
                            <div class="col-sm-12">
                                <input type="submit" name="submit" ng-disabled="saveData" ng-click="submitted=true" value="{{saveButtonText}}" class="btn btn-send">
                            	<div flash-message="2000" class="col-md-8 pull-right no-padding"></div>
                            </div>
                        </div>
                    </form>
                </div>
				<div class="col-sm-5">
                    <img src="resources/images/jobs.png">
				</div>
			</div>
		</div>
	</section>
	<!-- /PRICING -->


	<!-- OUR TEAM -->
	<section id="our-team">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Our <span>PARTNERS</span></h1>
						<span class="st-border"></span>
					</div>
				</div>

				<div class="col-md-2 col-sm-3">
					<div class="team-member">
						<div class="member-image">
							<img class="img-responsive" src="resources/images/logo/07.jpg" alt="">
						</div>
					</div>
				</div>

                <div class="col-md-2 col-sm-3">
                    <div class="team-member">
                        <div class="member-image">
                            <img class="img-responsive" src="resources/images/logo/02.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-3">
                    <div class="team-member">
                        <div class="member-image">
                            <img class="img-responsive" src="resources/images/logo/03.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-3">
                    <div class="team-member">
                        <div class="member-image">
                            <img class="img-responsive" src="resources/images/logo/04.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-3">
                    <div class="team-member">
                        <div class="member-image">
                            <img class="img-responsive" src="resources/images/logo/05.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-3">
                    <div class="team-member">
                        <div class="member-image">
                            <img class="img-responsive" src="resources/images/logo/06.png" alt="">
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</section>
	<!-- /OUR TEAM -->
	<script>
	//Span
	var span = document.getElementsByClassName('upload-path');
	// Button
	var uploader = document.getElementsByName('indexresume');
	// On change
	for( item in uploader ) {
	  // Detect changes
	  uploader[item].onchange = function() {
	    // Echo filename in span
	    span[0].innerHTML = this.files[0].name;
	  }
	}
	
	</script>