

	<!-- OUR TEAM -->
	<section id="our-team"><br/><br/><br/><br/>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h1><span>CNC Operators/Machinist</span></h1>
                        <p>01/29/2015</p>
					</div>
				</div>

				<div class="col-sm-10 col-sm-offset-1">
                    <hr/>
                    <h4>About INNOVA Staffing</h4>
                    Innova Consulting Group, LLC is a privately held organization established on the foundation of SERVICE, RESULTS, INNOVATION AND ETHICS. Our specialty is fulfilling the unique sourcing needs of our individual clients by providing WORLD CLASS WORKFORCE SOLUTIONS.
                    <hr/>
                    CNC Operators Needed:<br/><br/>
                    Great opportunity for a CNC Operator with in the Cincinnati area with a great work culture and opportunities for growth.<br/><br/>
                    <ul>
                        <li><b>CNC Operator:</b> Experience with Lathes and Mills preferred, ability to read and edit basic G-code, ability to read and interpret drawings and part specification (GD&T experience a plus), must be able to do own set ups and tooling changeouts.</li>
                        <li><b>CNC Machinist:</b> Experience with Lathes and Mills preferred, ability to read and edit basic G-code, ability to read and interpret drawings and part specification (GD&T experience a plus), knowledge of programming in either MasterCAM and/or FeatureCAM a plus, basic computer skills.</li>
                    </ul>
                    *Please note: Always accepting resumes for warehouse/manufacturing opportunities:<br/><br/>
                    Brake Press Operator:<br/><br/>
                    <ul>
                        <li>Must be able to read blueprints</li>
                        <li>Must be able to do own set ups</li>
                        <li>Job shop experience preferred</li>
                        <li>CNC Machine Operator</li>
                        <li>Brake Press Operator</li>
                        <li>Stamping Press Operator</li>
                        <li>General Laborers needed (must be able to lift 50lbs or more on a regular basis)</li>
                    </ul>
                    Please submit resumes for consideration.<br/><br/>
                    <a class="btn btn-send" href="#submit-resume/1">Submit Resume</a>
                </div>
			</div>
		</div>
	</section>
	<!-- /OUR TEAM -->
