

    <!-- PRICING -->
    <section id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br/><br/><br/>
                </div>
                <div class="col-sm-12">
                    <div class="text-white">
                        <h3>THE MBE ADVANTAGE</h3><br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /PRICING -->

	
	<!-- SERVICES -->
	<section id="services">
		<div class="container">
			<div class="row">
				<!--<div class="col-md-12">
					<div class="section-title">
						<h1>Services</h1>
						<span class="st-border"></span>
					</div>
				</div>-->

				<div class="col-md-4 col-sm-4 st-service">
                    <div class="media service-box-1 wow fadeInRight">
                        <div class="text-center">
                            <i class="fa fa-eye"></i>
                        </div><br/>
                        <h2 class="text-center">WE DISCOVER</h2>
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis. </p>
                    </div>
				</div>
				<div class="col-md-4 col-sm-4 st-service">
                    <div class="media service-box-1 wow fadeInRight">
                        <div class="text-center">
                            <i class="fa fa-edit"></i>
                        </div><br/>
                        <h2 class="text-center">WE CREATE</h2>
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis. </p>
				    </div>
                </div>                
                <div class="col-md-4 col-sm-4 st-service">
                    <div class="media service-box-1 wow fadeInRight">
                        <div class="text-center">
                            <i class="fa fa-cogs"></i>
                        </div><br/>
                        <h2 class="text-center">WE MANAGE</h2>
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis. </p>
                    </div>
                </div>


			</div>
		</div>
	</section>
	<!-- /SERVICES -->

	<!-- PRICING -->
	<section id="our-works">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>DO YOU INTERESTED MORE ABOUT <span>MBE ADVANTAGE?</span></h1>
						<span class="st-border"></span>
					</div>
				</div>

                <div class="col-sm-12">
                    <div class="text-center">
                        <h4>LET’S GET TOGETHER, LET US KNOW YOUR DETAILS</h4>
                        <h6>* Denotes Mandatory Information</h6><br/>
                    </div>
                    <form  class="contact-form" name="messageForm" ng-submit="messageForm.$valid && saveEmployersMessage()" novalidate >
                                    <div class="row">
                                        <div class="col-sm-4">
                                        	<h5>First Name<span class="text-red"><sup>*</sup></span></h5>
                                            <input type="text" name="firstName" ng-model="employersMessageForm.firstName" required validate-name placeholder="First Name" maxlength="25">
                                            <div class="error-container">
                                            <div ng-show="submitted">
	                                   			 <span ng-cloak ng-show="messageForm.firstName.$error.required">Please Enter First Name</span>
	                                    		 <span ng-cloak ng-show="!messageForm.firstName.$error.required&&messageForm.firstName.$error.validateName">Enter Valid First Name</span>
                                			</div>
                                			</div>
                                        </div>
                                        <div class="col-sm-4">
                                       		 <h5>Last Name<span class="text-red"><sup>*</sup></span></h5>
                                            <input type="text" name="lastName" ng-model="employersMessageForm.lastName" required validate-name placeholder="Last Name" maxlength="25">
                                            <div class="error-container">
                                            <div ng-show="submitted">
	                                   			 <span ng-cloak ng-show="messageForm.lastName.$error.required">Please Enter Last Name</span>
	                                    		 <span ng-cloak ng-show="!messageForm.lastName.$error.required&&messageForm.lastName.$error.validateName">Enter Valid Last Name</span>
                                			</div>
                                			</div>
                                        </div>
                                        <div class="col-sm-4">
                                        <h5>Email<span class="text-red"><sup>*</sup></span></h5>
                                            <input type="email" name="email" ng-model="employersMessageForm.email" required validate-email placeholder="Email" maxlength="50">
                                            <div class="error-container" >
                                            <div ng-show="submitted">
	                                   			 <span ng-cloak ng-show="messageForm.email.$error.required">Please Enter Email ID</span>
	                                    		 <span ng-cloak ng-show="!messageForm.email.$error.required&&messageForm.email.$error.email">Enter Valid Email ID</span>
                                			</div>
                                			</div>
                                        </div>
                                        <div class="col-sm-4">
                                        <h5>Subject<span class="text-red"><sup>*</sup></span></h5>
                                            <input type="text" name="subject" ng-model="employersMessageForm.subject" required placeholder="Subject" maxlength="100">
                                             <div class="error-container">
                                             <div ng-show="submitted">
	                                   			 <span ng-cloak ng-show="messageForm.subject.$error.required">Please Enter Subject</span>
	                                    	</div>
	                                    	</div>
                                        </div>
                                        <div class="col-sm-4">
                                        <h5>Website<span class="text-red"></span></h5>
                                            <input type="text" name="website" ng-model="employersMessageForm.website" validate-url placeholder="Website - http://www.example.com" maxlength="80">
                                            <div class="error-container" >
                                            <div ng-show="submitted">
	                                   			 <span ng-cloak ng-show="messageForm.website.$error.validateUrl">Enter Valid URL</span>
	                                    	</div>
                                			</div>
                                        </div>
                                        <div class="col-sm-12">
                                        <h5>Message<span class="text-red"><sup>*</sup></span></h5>
                                            <textarea name="message"  ng-model="employersMessageForm.message" required cols="30" rows="3" placeholder="Message" maxlength="800"></textarea>
                                            <div class="error-container">
                                            <div ng-show="submitted">
	                                   			 <span ng-cloak ng-show="messageForm.message.$error.required">Please Enter Message</span>
	                                    	</div>
	                                    	</div>
                                        </div>
                                        <!--<div class="col-sm-12">
                                            <h6>CAPTCHA</h6>
                                            <img src="resources/images/puzzle-2.png">
                                            <input type="text" name="website" placeholder="Type the letter">
                                        </div>-->
                                        <div class="col-sm-12">
                                        <div flash-message="2000" class="col-md-5 pull-right"></div>
                                            <input type="submit" name="submit" value="Send Message" ng-click="submitted=true" class="btn btn-send"><br/><br/>
                                        </div>
                                    </div>
                                </form>
                </div>
				
			</div>
		</div>
	</section>
	<!-- /PRICING -->