    <link rel="stylesheet" href="css/jquery.floating-social-share.css" />
	<!-- OUR WORKS -->
	<section id="our-team">
		<div class="container">
			<div class="row"><br/><br/><br/>
                <div class="row">
                <div class="col-md-8">
                    <div class="col-md-12">
                        <div class="portfolio-content">
                            <img class="img-responsive" width="100%" ng-src="{{myImgSrc}}" alt="">
                        </div>
                        <p><small>Featured News, News<br/>{{usernewsdetails.addedDate}}</small></p>
                        <h4>{{usernewsdetails.title}}</h4>
                        <p ng-bind-html="usernewsdetails.description | html"></p>

                    </div>
                </div>

                <div class="col-md-4">
                    <h4>OTHER NEWS</h4>
                    <hr/>
                    <div class="col-md-12 no-padding">
                    <div ng-repeat="news in usernewslist">
                        <div class="col-md-2 no-padding" >
                     
                            <img class="img-responsive" width="100%" ng-src="{{news.titleImageUrl | trusted}}" alt="">
                        </div>
                        <div class="col-md-10">
                            <a href="" ng-click="doGetNewsDetailsByUser(news.latestNewsId)"><b>{{news.title}}</b></a><br/>
                            <small>{{news.addedDate}}</small>
                        </div>
                        <div class="col-md-12 no-padding"><hr/></div>
                     </div>   
                    </div>
                </div>
                </div>
			</div>
		</div>
	</section>
	<!-- /OUR WORKS -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="js/jquery.floating-social-share.js"></script>
    <script>
        $("body").floatingSocialShare({
            buttons: ["facebook", "twitter", "google-plus", "linkedin"],
            twitter_counter: true,
            text: "share with: ",
            url: "http://google.com"
        });
    </script>


<!-- <script src="js/demo.js"></script>-->
