
	<!-- OUR WORKS -->
	<section id="our-team">
		<div class="container">
			<div class="row"><br/><br/><br/>
                <div class="row">
                <div class="col-md-8">
                    <div class="col-md-12">
                    	<h4>{{usernewsdetails.title}}</h4>
                    	<p><small>Added Date : {{usernewsdetails.addedDate}}</small></p>
                    	<hr/>
                        <img class="img-responsive" width="100%" ng-src="{{myImgSrc}}" alt="">
                        <h5 class="margin-top-20"></h5>
                        <p ng-bind-html="usernewsdetails.description | html"></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <h4>OTHER NEWS</h4>
                    
                    <div class="input-group">
  					 <span class="input-group-addon search" id="basic-addon1"><i class="fa fa-search"></i></span>
					 <input class="form-control" type="text" ng-model="search.title" placeholder="Title"></div>
                    <hr/>
                    <div class="col-md-12 no-padding div-scroll" ng-show="usernewslist.length>0">
                    <div ng-repeat="news in newsfilter=(usernewslist|filter:search)">
                        <div class="col-md-2 no-padding" >
                     
                            <img class="img-responsive" width="100%" ng-src="{{news.titleImageUrl | trusted}}" alt="">
                        </div>
                        <div class="col-md-10">
                            <a href="" ng-click="doGetNewsDetailsByUser(news.latestNewsId)"><b>{{news.title}}</b></a><br/>
                            <small>{{news.addedDate}}</small>
                        </div>
                        <div class="col-md-12 no-padding"><hr/></div>
                     </div>   
                    </div>
                    <div class="col-md-12 no-padding" ng-show="usernewslist.length==0 || !newsfilter.length">
                     <span>No News Found!!!</span>
                    </div>
                </div>
                </div>
			</div>
		</div>
	</section>
