
	

	<!-- PRICING -->
	<section id="pricing">
		<div class="container">
			<div class="row">

                <div class="col-sm-12">
                    <br/><br/><br/><br/>
                    <a href="#jobs" ng-click="" class="btn btn-send pull-right"><i class="fa fa-backward"></i>&nbsp;Back To Search</a>
                </div>
				 <div class="col-md-4 text-white">Job : {{jobDetails.name}}</div>
				 <div class="col-md-4 text-white">Updated Date : {{jobDetails.addedDate}}</div>
                 <div class="col-sm-12">
                    <br/>
                   <h4 class="text-white text-center">APPLY FOR JOB!</h4><br/>
                    <form class="contact-form" name="jobForm" ng-submit="jobForm.$valid && uploadResume()" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                             <h5><span class="text-white">First Name</span><span class="text-red"><sup>*</sup></span></h5>
                                <input type="text" name="firstName" ng-model="jobSeekerForm.firstName" placeholder="First Name" maxlength="25" required validate-name>
                                <div class="error-container" >
                                 <div ng-show="submitted">
	                          			<span ng-cloak ng-show="jobForm.firstName.$error.required">Please Enter First Name</span>
	                          			<span ng-cloak ng-show="!jobForm.firstName.$error.required&&jobForm.firstName.$error.validateName">Enter Valid First Name</span>
	                              </div>
                              	</div>
                            </div>
                            <div class="col-sm-4">
                             <h5><span class="text-white">Last Name</span><span class="text-red"><sup>*</sup></span></h5>
                                <input type="text" name="lastName" ng-model="jobSeekerForm.lastName" placeholder="Last Name" maxlength="25" required validate-name>
                                <div class="error-container" >
                                 <div ng-show="submitted">
	                          			<span ng-cloak ng-show="jobForm.lastName.$error.required">Please Enter Last Name</span>
	                          			<span ng-cloak ng-show="!jobForm.lastName.$error.required&&jobForm.lastName.$error.validateName">Enter Valid Last Name</span>
	                              </div>
                              	</div>
                            </div>
                            <div class="col-sm-4">
                             <h5><span class="text-white">Phone Number</span><span class="text-red"><sup>*</sup></span></h5>
                                <input type="text" name="contactNumber" ng-model="jobSeekerForm.phoneNumber" placeholder="Phone Number" maxlength="20" validate-mobile>
                                <div class="error-container" >
                                 <div ng-show="submitted">
	                          			<span ng-cloak ng-show="jobForm.contactNumber.$error.required">Please Enter Phone Number</span>
	                          			<span ng-cloak ng-show="!jobForm.contactNumber.$error.required&&jobForm.contactNumber.$error.validateMobile">Enter Valid Number</span>
	                              </div>
                              	</div>
                            </div>
                            <div class="col-sm-4">
                             <h5><span class="text-white">Email</span><span class="text-red"><sup>*</sup></span></h5>
                                <input type="email" name="email" ng-model="jobSeekerForm.email" placeholder="Email" maxlength="50" required validate-email>
                                <div class="error-container" >
                                 <div ng-show="submitted">
	                          			<span ng-cloak ng-show="jobForm.email.$error.required">Please Enter Email</span>
	                          			<span ng-cloak ng-show="!jobForm.email.$error.required&&jobForm.email.$error.email">Enter Valid Email ID</span>
	                              </div>
                              	</div>
                            </div>
                            <div class="col-sm-4">
                             <h5><span class="text-white">Job Interested In</span><span class="text-red"><sup>*</sup></span></h5>
                                <input type="text" name="interestedIn" ng-model="jobSeekerForm.interestedIn" placeholder="Job Interested In" maxlength="25" required readonly="readonly">
                                <div class="error-container" >
                                 <div ng-show="submitted">
	                          			<span ng-cloak ng-show="jobForm.interestedIn.$error.required">Please Enter Interested In</span>
	                              </div>
                              	</div>
                            </div>
                            <div class="col-sm-4" style="margin-top: 8px">
                            <br/>
                            <div class="browse-wrap text-white">
                               <div class="title">Upload Resume</div>
								<input type="file" file-model="jobresume" valid-file validate-file-type name="jobresume" ng-model="jobresume" class="upload" title="Upload Resume" required>
							</div>
							<span class="upload-path text-white"></span>
                                <div class="text-white"><small>Accepted file types: pdf, doc, docx, rtf.</small><br/></div>
							</div>
							<div class="error-container" >
                                 <div ng-show="submitted">
	                          			<span ng-cloak ng-show="jobForm.jobresume.$error.required">Please Upload Resume</span>
	                          			<span ng-cloak ng-show="!jobForm.jobresume.$error.required&&jobForm.jobresume.$error.validateFileType">Please Choose Vaild File</span>
	                          			<span ng-cloak ng-show="!jobForm.jobresume.$error.required&&!jobForm.jobresume.$error.validateFileType&&jobForm.jobresume.$error.validateFileSize">File should be less than 5 MB</span>
	                              </div>
                              	</div>
                            
                            <div class="col-sm-12">
                            	<input type="submit" name="submit" ng-click="submitted=true" ng-disabled="saveData" value="{{saveButtonText}}" class="btn btn-send pull-left">
                             	<span class="pull-left padding-right-span">&nbsp;</span><div flash-message="2000" class="col-md-4 pull-left"></div>
                             </div>
                        </div>
                    </form>
                </div>

                <div class="col-sm-12">
                    <br/><br/><br/><br/><br/>
                </div>

			</div>
		</div>
	</section>
	<!-- /PRICING -->

	<script>
	//Span
	var span = document.getElementsByClassName('upload-path');
	// Button
	var uploader = document.getElementsByName('jobresume');
	// On change
	for( item in uploader ) {
	  // Detect changes
	  uploader[item].onchange = function() {
	    // Echo filename in span
	    span[0].innerHTML = this.files[0].name;
	  }
	}
	
	</script>