
	

	<!-- PRICING -->
	<section id="pricing">
		<div class="container">
			<div class="row">

                <div class="col-sm-12">
                    <br/><br/><br/><br/>
                </div>

                <div class="col-sm-12">
                    <br/>
                    <h3 class="text-white">APPLY JOB!</h3><br/>
                    <h5 class="text-white">Job Position : CNC Operators/Machinist</h5><br/>
                    <form action="php/send-contact.php" class="contact-form" name="contact-form" method="post">
                        <div class="row">
                            <div class="col-sm-4">
                                <input type="text" name="name" required="required" placeholder="First Name*">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" name="name" required="required" placeholder="Last Name*">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" name="name" required="required" placeholder="Contact Number*">
                            </div>
                            <div class="col-sm-4">
                                <input type="email" name="email" required="required" placeholder="Email*">
                            </div>
                            <div class="col-sm-4">
                                <input type="email" name="email" required="required" placeholder="Job Interested In*">
                            </div>
                            <div class="col-sm-4" style="margin-top: 8px">
                                <a href="" class="choose-file">Upload Resume*</a><br/>
                                <div class="text-white padding-top-10"><small>Accepted file types: pdf, doc, docx, txt, ppt, pptx.</small><br/></div>
                            </div>
                            <!--<div class="col-sm-4">
                                <input type="text" name="website" placeholder="Website">
                            </div>-->
                            <!--<div class="col-sm-12">
                                <textarea name="message" required="required" cols="30" rows="7" placeholder="Message*"></textarea>
                            </div>-->
                            <div class="col-sm-12">
                                <input type="submit" name="submit" value="SUBMIT RESUME" class="btn btn-send">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-sm-12">
                    <br/><br/><br/><br/><br/>
                </div>

			</div>
		</div>
	</section>
	<!-- /PRICING -->
