<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="com.deemsys.project.entity.Template" />
        <mapping class="com.deemsys.project.entity.ContactDetail" />
        <mapping class="com.deemsys.project.entity.SocialMedia" />
         <mapping class="com.deemsys.project.entity.Login" />
          <mapping class="com.deemsys.project.entity.Roles" />
          <mapping class="com.deemsys.project.entity.JobCategory" />
          <mapping class="com.deemsys.project.entity.Job" />
          <mapping class="com.deemsys.project.entity.JobTags" />
          <mapping class="com.deemsys.project.entity.JobTagMap" />
          <mapping class="com.deemsys.project.entity.EmployerMessages" />
          <mapping class="com.deemsys.project.entity.Testimonial" />
          <mapping class="com.deemsys.project.entity.LatestNews" />
          <mapping class="com.deemsys.project.entity.JobSeeker" />
    </session-factory>
</hibernate-configuration>
