<table class="table table-bordered table-striped">
            <thead class="high-light">
                <tr>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Email</td>
                    <td>Subject</td>
                    <td>Date</td>
                    <td>Actions</td>
                </tr>
                <tr>
                <th>
				<div class="input-group">
  				 <span class="input-group-addon search" id="basic-addon1"><i class="fa fa-search"></i></span>
				 <input class="form-control" type="text" ng-model="search.firstName" placeholder="First Name"></div></th>
				 <th><div class="input-group">
  				 <span class="input-group-addon search" id="basic-addon1"><i class="fa fa-search"></i></span>
				 <input class="form-control" type="text" ng-model="search.lastName" placeholder="Last Name"></div></th>
				 <th><div class="input-group">
  				 <span class="input-group-addon search" id="basic-addon1"><i class="fa fa-search"></i></span>
				 <input class="form-control" type="text" ng-model="search.email" placeholder="Email"></div></th>
				 <th><div class="input-group">
  				 <span class="input-group-addon search" id="basic-addon1"><i class="fa fa-search"></i></span>
				 <input class="form-control" type="text" ng-model="search.subject" placeholder="Subject"></div></th>
				 <th><div class="input-group">
  				 <span class="input-group-addon search" id="basic-addon1"><i class="fa fa-search"></i></span>
				 <input class="form-control" type="text" ng-model="search.messageDate" placeholder="Date"></div></th>
				 <th></th>
                </tr>
            </thead>
            <tbody>
           		 <tr ng-show="employersList.length>0"  dir-paginate="employer in employersFilter=(employersList|filter:search|itemsPerPage:10)">
                	<td>{{employer.firstName}}</td>
                    <td>{{employer.lastName}}</td>
                    <td>{{employer.email}}</td>
                    <td>{{employer.subject}}</td>
                    <td>{{employer.messageDate}}</td>
                    <td>
                         <a href="" ng-cloak ng-click="getEmployerMessage(employer.id)" class="btn-xs btn-success" title=""><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
               <tr ng-show="!employersList.length || !employersFilter.length">
				<td colspan="6" align="center">No Records Found</td>
				</tr>
            </tbody>
        </table>    
<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" ></dir-pagination-controls>


<!-- Employer Details Modal -->
<div id="employerDetailsModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Employer Details</h4>
      </div>
      <div class="modal-body">
	<table class="table table-striped table-bordered" >
			<tr>
				<td class="col-md-3" ><b>First Name</b></td>
				<td class="col-md-3">{{employerDetails.firstName}}</td>
				<td class="col-md-3"><b>Last Name</b></td>
				<td class="col-md-3">{{employerDetails.lastName}}</td>
			</tr>
			<tr>
				<td class="col-md-3" ><b>Email</b></td>
				<td class="col-md-3">{{employerDetails.email}}</td>
				<td class="col-md-3"><b>Website</b></td>
				<td class="col-md-3">{{employerDetails.website}}</td>
			</tr>
			<tr>
				<td class="col-md-3" ><b>Subject</b></td>
				<td class="col-md-3">{{employerDetails.subject}}</td>
				<td class="col-md-3"><b>Message Date</b></td>
				<td class="col-md-3">{{employerDetails.messageDate}}</td>
			</tr>
			<tr>
				<td class="col-md-3"><b>Message</b></td>
				<td colspan="3" class="col-md-9">{{employerDetails.message}}</td>
			</tr>
			
		</table>
	</div>
	<div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
         </div>
    </div>

  </div>
</div>