

<div class="admin-main-content">
    <div class="col-md-12 margin-top-20">
    	<a href="" ng-show="isJobList" ng-click="addNewJob()" class="btn btn btn-send pull-right"><i class="fa fa-plus-circle"></i> ADD NEW JOB</a>
        <a href="" ng-show="isJobCateogry" class="btn btn btn-send pull-right" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus-circle"></i> ADD NEW CATEGORY</a>
            
    	<div ng-include="'resources/views/admin/job-menu.html'"></div>
    	
    	<div class="sub-menu-content">
    		<div ng-include="jobListTemplate"></div>
    	</div>
    </div>
</div>