<table class="table table-bordered table-striped">
            <thead class="high-light">
                <tr>
                    <td width="17%">First Name</td>
                    <td width="17%">Last Name</td>
                    <td width="20%">Interested In</td>
                    <td width="25%">Email</td>
                    <td width="16%">Phone</td>
                    <td width="5%">Actions</td>
                </tr>
                <tr>
                <th>
				<div class="input-group">
  				 <span class="input-group-addon search" id="basic-addon1"><i class="fa fa-search"></i></span>
				 <input class="form-control" type="text" ng-model="search.firstName" placeholder="First Name"></div></th>
				 <th><div class="input-group">
  				 <span class="input-group-addon search" id="basic-addon1"><i class="fa fa-search"></i></span>
				 <input class="form-control" type="text" ng-model="search.lastName" placeholder="Last Name"></div></th>
				  <th><div class="input-group">
  				 <span class="input-group-addon search" id="basic-addon1"><i class="fa fa-search"></i></span>
				 <input class="form-control" type="text" ng-model="search.interestedIn" placeholder="Interested In"></div></th>
				 <th><div class="input-group">
  				 <span class="input-group-addon search" id="basic-addon1"><i class="fa fa-search"></i></span>
				 <input class="form-control" type="text" ng-model="search.email" placeholder="Email"></div></th>
				 <th><div class="input-group">
  				 <span class="input-group-addon search" id="basic-addon1"><i class="fa fa-search"></i></span>
				 <input class="form-control" type="text" ng-model="search.phoneNumber" placeholder="Phone"></div></th>
				 <th></th>
                </tr>
            </thead>
            <tbody>
           		 <tr ng-show="jobSeekerList.length>0"  dir-paginate="jobSeeker in jobFilter=(jobSeekerList|filter:search|itemsPerPage:10)">
                	<td class="wrap">{{jobSeeker.firstName}}</td>
                    <td class="wrap">{{jobSeeker.lastName}}</td>
                    <td class="wrap">{{jobSeeker.interestedIn}}</td>
                    <td class="wrap">{{jobSeeker.email}}</td>
                    <td class="wrap">{{jobSeeker.phoneNumber}}</td>
                    <td>
                         <a href="{{jobSeeker.resumeUrl}}" download ng-cloak ng-show="jobSeeker.status==1" ng-click="" class="btn-xs btn-info hint--top" data-hint="Download Resume"><i class="fa fa-download"></i></a>
                    	<a href="" ng-cloak ng-click="deleteJobSeekerAlert(jobSeeker.jobSeekerId)" class="btn-xs btn-danger hint--top" data-hint="Delete"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
               <tr ng-show="!jobSeekerList.length || !jobFilter.length">
				<td colspan="6" align="center">No Records Found</td>
				</tr>
            </tbody>
        </table>    
<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" ></dir-pagination-controls>

<!-- Job Seekers Delete Confirmation -->
<div id="jobSeekerDeleteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
      </div>
      <div class="modal-body">
		Are you sure want to delete job seeker?
	</div>
	<div class="modal-footer">
		<button type="button" ng-click="deleteJobSeeker()" class="btn btn-success" data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
         </div>
    </div>

  </div>
</div>