
<table class="table table-bordered table-striped">
            <thead class="high-light">
                <tr>
                    <td>Sl.no</td>
                    <td>News Title</td>
                    <td>News Description</td>
                    <td>Date</td>
                    <td>Options</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>title</td>
                    <td>description</td>
                    <td>03/20/2016</td>
                    <td>
                        <a href="" class="btn-xs btn-warning">Edit</a>
                        <a href="" class="btn-xs btn-danger">Inactive</a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>title</td>
                    <td>description</td>
                    <td>03/20/2016</td>
                    <td>
                        <a href="" class="btn-xs btn-warning">Edit</a>
                        <a href="" class="btn-xs btn-danger">Inactive</a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>title</td>
                    <td>description</td>
                    <td>03/20/2016</td>
                    <td>
                        <a href="" class="btn-xs btn-warning">Edit</a>
                        <a href="" class="btn-xs btn-danger">Inactive</a>
                    </td>
                </tr>
            </tbody>
        </table>
