<ul class="admin-sub-menu" ng-controller="InitialController">
	<li ng-class="{'active':submenuActive.contactDetails}"><a href="#siteManagement-contactDetails"><i class="fa fa-phone"></i> &nbsp;CONTACT DETAILS</a></li>
	<li ng-class="{'active':submenuActive.socialMedia}"><a href="#siteManagement-socialMedia"><i class="fa fa-share-alt"></i> &nbsp;SOCIAL MEDIA</a></li>
	<li ng-class="{'active':submenuActive.news}"><a href="#siteManagement-news"><i class="fa fa-newspaper-o"></i> &nbsp;NEWS</a></li>
	<li ng-class="{'active':submenuActive.testimonial}"><a href="#siteManagement-testimonial"><i class="fa fa-comments"></i> &nbsp;TESTIMONIAL</a></li>
</ul>