

<div class="admin-main-content">
    <div class="col-md-12 margin-top-20">
    	<a href="" ng-show="isNews" ng-click="addNews()" class="btn btn btn-send pull-right"><i class="fa fa-plus-circle"></i> ADD NEWS</a>
        <a href="" ng-show="isTestimonial" ng-click="addTestimonial()" class="btn btn btn-send pull-right"><i class="fa fa-plus-circle"></i> ADD TESTIMONIAL</a>
            
    	<div ng-include="'resources/views/admin/site-menu.html'"></div>
    	
    	<div class="sub-menu-content clearfix">
    		<div class="col-md-12">
    			<div flash-message="2000" class="col-md-4 pull-right no-padding"></div>
    		</div>
    		<div class="col-md-12">
    			<div ng-include="siteTemplate"></div>
    		</div>
    	</div>       
    </div>
</div>