<div class="clearfix contact-form row">
	<div class="col-md-9 no-padding">
		<div class="col-md-12">
			<h5>User name</h5>
			<input type="text" name="name" required="required" placeholder="User Name">
		</div>
		<div class="col-md-12">
			<h5>Testimonial Title</h5>
			<input type="text" name="name" required="required" placeholder="Testimonial Title">
		</div>
		<div class="col-md-12">
			<h5>Testimonial Description</h5>
			<textarea type="text" rows="4" name="name" required="required"></textarea>
		</div>
	</div>
	
	<div class="col-md-3">
		<div class="col-md-12 image-editor">

                                <h5>User Image</h5>
                                     <span ng-show="inputContainsFile">
                                     <span class="error-message textarea-errormessage20" ng-show="testimonialForm.image.$error.required"><span>Required.</span></span>
                                </span>
                                <div class="cropit-image-preview"></div>
                                <p class="image-size-label">
                                    Resize image
                                </p>
                                <div class="col-md-10 no-padding">
                                    <input type="range" class="cropit-image-zoom-input">
                                </div>

                                <div class="margin-top-20 col-md-12 no-padding">
                                    <div class="fileUpload btn btn-xs btn-primary">
                                        <span>Choose File</span>
                                        <input type="file" name="image" class="upload cropit-image-input" valid-file required  ng-model="testimonials.imageurl" onblur="angular.element(this).scope().fileNameChanged(this)"/>

                                    </div>
                                </div>
                            </div>
	</div>
	
	
	<div class="col-md-12">
		<a href="" class="btn btn-success">Add Testimonial</a>
		<a href="" ng-click="cancelAddTestimonial()" class="btn btn-danger">Cancel</a>
	</div>

</div>
