
<table class="table table-bordered table-striped">
            <thead class="high-light">
                <tr>
                    <td width="20%">Said By</td>
                    <td width="30%">Designation</td>
                    <td width="40%">Description</td>
                    <td width="10%">Options</td>
                </tr>
                <tr>
                <th>
                <div class="input-group">
  				 <span class="input-group-addon search" id="basic-addon1"><i class="fa fa-search"></i></span>
				 <input class="form-control" type="text" ng-model="search.saidBy" placeholder="Said By"></div>
                </th>
                <th>
                <div class="input-group">
  				 <span class="input-group-addon search" id="basic-addon1"><i class="fa fa-search"></i></span>
				 <input class="form-control" type="text" ng-model="search.destination" placeholder="Designation">
				 </div>
                </th>
                <th>
                <div class="input-group">
  				 <span class="input-group-addon search" id="basic-addon1"><i class="fa fa-search"></i></span>
				 <input class="form-control" type="text" ng-model="search.description" placeholder="Description">
				 </div>
				 </th>
                <th></th>
                </tr>
            </thead>
            <tbody>
           		 <tr ng-show="jobTestimonialList.length>0"  dir-paginate="testimonial in testimonialFilter=(jobTestimonialList|filter:search|itemsPerPage:10)">
                	<td class="wrap">{{testimonial.saidBy}}</td>
                    <td class="wrap">{{testimonial.destination}}</td>
                    <td class="wrap">{{testimonial.description}}</td>
                    <td>
                        <a href="" class="btn-xs btn-warning hint--top"  ng-click="editTestimonial(testimonial.testimonialId)" data-hint="Edit"><i class="fa fa-pencil"></i></a>
                        <a href="" ng-cloak ng-show="testimonial.status==1" ng-click="enableOrDisbaleTestimonial(testimonial.testimonialId)" class="btn-xs btn-success hint--top" data-hint="Disable"><i class="fa fa-unlock"></i></a>
                        <a href="" ng-cloak ng-show="testimonial.status==0" ng-click="enableOrDisbaleTestimonial(testimonial.testimonialId)" class="btn-xs btn-danger hint--top" data-hint="Enable"><i class="fa fa-lock"></i></a>
                    </td>
                </tr>
               <tr ng-show="!jobTestimonialList.length || !testimonialFilter.length">
				<td colspan="4" align="center">No Records Found</td>
				</tr>
            </tbody>
        </table>
<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" ></dir-pagination-controls>