<div class="clearfix contact-form row">
 <form class="contact-form" name="testimonialForm" ng-submit="testimonialForm.$valid && saveUpdateTestimonial()" no-validate>
	<div class="col-md-9 no-padding">
	
		<div class="col-md-12">
			<h5>Said By</h5>
			<input type="text" name="saidBy" ng-model="testimonial.saidBy"    placeholder="User Name" required  validate-name>
			<div class="error-container">
                <div ng-show="submitted">
	              <span ng-cloak ng-show="testimonialForm.saidBy.$error.required">Please Enter Said By Name</span>
	              <span ng-cloak ng-show="!testimonialForm.saidBy.$error.required&&testimonialForm.saidBy.$error.validateName">Enter Valid Said By Name</span>
                </div>
             </div>
		</div>
		<div class="col-md-12">
			<h5>Destination</h5>
			<input type="text" name="destination" ng-model="testimonial.destination"  placeholder="Testimonial Title" required  validate-name>
			<div class="error-container">
                <div ng-show="submitted">
	              <span ng-cloak ng-show="testimonialForm.destination.$error.required">Please Enter Said By Name</span>
	              <span ng-cloak ng-show="!testimonialForm.destination.$error.required&&testimonialForm.destination.$error.validateName">Enter Valid Said By Name</span>
                </div>
             </div>
		</div>
		<div class="col-md-12">
			<h5>Testimonial</h5>
			<textarea type="text" row="4" name="description" ng-model="testimonial.description" placeholder="Enter Description" required ></textarea>
			<div class="error-container">
                <div ng-show="submitted">
	              <span ng-cloak ng-show="testimonialForm.description.$error.required">Please Enter Description</span>
	             </div>
	        </div>
			
		</div>
		<input type="hidden" name="status"  ng-model="testimonial.status"  placeholder="Testimonial Title">
		<input type="hidden" name="testimonialId"  ng-model="testimonial.testimonialId"  placeholder="Testimonial Title">
	</div>
	

	<div class="col-md-12">
<!-- 		<a href="" class="btn btn-success">Add Testimonial</a> -->
			<input type="submit" name="submit" value="Add Testimonial" class="btn btn-success" ng-click="submitted=true" >
		<a href="" ng-click="cancelAddTestimonial()" class="btn btn-danger">Cancel</a>
	</div>
</form>
</div>
